In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('car_evaluation.csv')
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [3]:
df.isnull().any().any()

False

In [5]:
col_name = ['buying','maint','doors','persons','lug_boot','safety','class']
df.columns=col_name
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [7]:
df['buying'].value_countscounts()

high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64

In [8]:
for i in df.columns:
    print(i,':\n',df[i].value_counts())

buying :
 high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64
maint :
 high     432
med      432
low      432
vhigh    431
Name: maint, dtype: int64
doors :
 3        432
4        432
5more    432
2        431
Name: doors, dtype: int64
persons :
 4       576
more    576
2       575
Name: persons, dtype: int64
lug_boot :
 med      576
big      576
small    575
Name: lug_boot, dtype: int64
safety :
 med     576
high    576
low     575
Name: safety, dtype: int64
class :
 unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [ ]:
# feature

In [9]:
import category_encoders as cate

ModuleNotFoundError: No module named 'category_encoders'

In [10]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
     -------------------------------------- 86.6/86.6 KB 271.9 kB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\aniketsingh\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=0.21.1 in c:\users\aniketsingh\anaconda3\lib\site-packages (from category_encoders) (1.3.4)
Requirement already satisfied: scipy>=1.0.0 in c:\users\aniketsingh\anaconda3\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\aniketsingh\anaconda3\lib\site-packages (from category_encoders) (1.20.3)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\aniketsingh\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\aniketsingh\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\aniketsingh\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\aniketsingh\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\aniketsingh\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\aniketsingh\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aniketsingh\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.4.0

In [11]:
import category_encoders as cate

In [14]:
encode = cate.OrdinalEncoder(cols = ['buying','maint','doors','persons','lug_boot','safety','class'])
df = encode.fit_transform(df)

In [15]:
for i in df.columns:
    print(i,':\n',df[i].value_counts())

buying :
 2    432
3    432
4    432
1    431
Name: buying, dtype: int64
maint :
 2    432
3    432
4    432
1    431
Name: maint, dtype: int64
doors :
 2    432
3    432
4    432
1    431
Name: doors, dtype: int64
persons :
 2    576
3    576
1    575
Name: persons, dtype: int64
lug_boot :
 2    576
3    576
1    575
Name: lug_boot, dtype: int64
safety :
 1    576
2    576
3    575
Name: safety, dtype: int64
class :
 1    1209
2     384
4      69
3      65
Name: class, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   int32
 1   maint     1727 non-null   int32
 2   doors     1727 non-null   int32
 3   persons   1727 non-null   int32
 4   lug_boot  1727 non-null   int32
 5   safety    1727 non-null   int32
 6   class     1727 non-null   int32
dtypes: int32(7)
memory usage: 47.3 KB

In [17]:
encode = cate.OrdinalEncoder(cols = ['class'])
df = encode.fit_transform(df)

In [18]:
for i in df.columns:
    print(i,':\n',df[i].value_counts())

buying :
 2    432
3    432
4    432
1    431
Name: buying, dtype: int64
maint :
 2    432
3    432
4    432
1    431
Name: maint, dtype: int64
doors :
 2    432
3    432
4    432
1    431
Name: doors, dtype: int64
persons :
 2    576
3    576
1    575
Name: persons, dtype: int64
lug_boot :
 2    576
3    576
1    575
Name: lug_boot, dtype: int64
safety :
 1    576
2    576
3    575
Name: safety, dtype: int64
class :
 1    1209
2     384
4      69
3      65
Name: class, dtype: int64

In [ ]:
### datasets seperation

In [21]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [19]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rf = RandomForestClassifier(n_estimators=100,random_state=0)

In [26]:
rf.fit(x_train,y_train)
ypd = rf.predict(x_test)

C:\Users\ANIKET~2\AppData\Local\Temp/ipykernel_25324/1783554220.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

In [28]:
from sklearn.metrics import ConfusionMatrixDisplay,confusion_matrix,classification_report,accuracy_score

In [29]:
accuracy_score(y_test,ypd)

0.9682080924855492

In [30]:
cm = confusion_matrix(y_test,ypd)
cm

array([[237,   0,   0,   0],
       [  0,  75,   1,   1],
       [  0,   4,  12,   1],
       [  0,   1,   3,  11]], dtype=int64)

In [31]:
print(classification_report(y_test,ypd))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00       237
           2       0.94      0.97      0.96        77
           3       0.75      0.71      0.73        17
           4       0.85      0.73      0.79        15

    accuracy                           0.97       346
   macro avg       0.88      0.85      0.87       346
weighted avg       0.97      0.97      0.97       346